@mixin content-btn {
    padding: 8px 20px;
    border-radius: 30px;
    background-color: #fff;
}

@mixin content-btn-hover {
    background-color: #bdbdbd;
    transition: all .4s;
}

@mixin box-item {
    padding: 50px 20px;
    text-align: center;
    line-height: 1.2;
    border-radius: 8px;
}

@mixin wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-gap: 15px 15px;
    margin-bottom: 80px;
}